<p style="color: green"><%= notice %></p>
<div style="padding-bottom: 80px;">
  <h1 style="text-align:left;float:left;">Users</h1>
  <h1 style="text-align:right;float:right;">
    <%= link_to "Transactions", root_path %>
  </h1>
</div>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
